@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    font-family: "Poppins", serif;

}

#main-container {
    padding-left: 0px !important;
    padding-right: 0px !important;
    margin-left: 50px;
    justify-items: center !important;


}

#principal {
    margin: 0px;
    width: 90%;
}


/*^ ------------------ Responsividade geral ---------------- */

@media (max-width: 768px) {

    #main-container {
        margin-left: 0px;
    }

}


/* ^ ------------ Estilização do topo -------------- */

#tab_topo {
    padding-top: 100px;
    justify-items: center;
}

#tab_topo hr {
    background-color: #EDAD66;
    width: auto;
    height: 3px;
    border: 0px;
}

/* Ações é a div que contem o botão novo e o filtro */
#acoes {
    display: flex;
    padding-top: 20px;
    padding-bottom: 40px;

}

.btn {
    background-color: #EDAD66;
    color: #FFFFFF;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
}

.btn:hover {
    border-color: #EDAD66;
    color: #EDAD66;
}

.btn:first-child:active,
:not(.btn-check)+.btn:active {
    color: #EDAD66;
    background-color: var(--bs-btn-active-bg);
    border-color: var(--bs-btn-active-border-color);
}

.btn:focus-visible {
    background-color: #EDAD66;
    color: #FFFFFF;
    border-color: var(--bs-btn-hover-border-color);
    outline: 0;
    box-shadow: var(--bs-btn-focus-box-shadow);
}

/ /*^ --------------------- Modal Novo -------------------- */

.modal-header hr {
    background-color: #006078;
    width: auto;
    height: 3px;
    border: 0px;
    margin: 0px;

}

.modal-content {
    font-weight: 500;

}

.modal-header {
    justify-content: center !important;
}

.modal-header h1 {
    padding: 0px 30px 0px 30px;
}

.modal-header .btn-close {
    margin-left: 0px;

}

.modal-novo {
    overflow-x: auto;
    /* ou "scroll" */
    white-space: nowrap;
    /* Impede que o conteúdo quebre em várias linhas */

}

.modal-novo div {
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;

}

.container-btn{
    gap: 50px;
}


#btn-salvar {
    background-color: #006078;
    width: 150px;
    color: #ffffff;
}

#btn-salvar:hover {
    background-color: transparent;
    border-color: #006078;
    color: #006078;
}


#btn-cancelar {
    width: 150px;
    background-color: #FF0000;
    gap: 50px;
}

#btn-cancelar:hover {
    background-color: transparent;
    border-color: #FF0000;
    color: #FF0000;
}


.modal-footer {
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 30px;
    gap: 30px;

}



/*^ --------------- Tabela ---------------- */


.table-bordered {
    border-color: #0D5F71;
}

.table thead th {
    background-color: #006078;
    border-color: #FFFFFF;
    color: #FFFFFF;
    font-weight: 400;
}

#tabela-container {
    padding: 0px;
}

.anexo-tab {
    width: 150px;
}

.btn-tab {
    justify-items: center !important;
}

/* * ------------------ Truncamento de Texto ------------------  */
.truncate {
    display: inline-block;
    max-width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
    border: none;
}


@media (max-width: 1200px) {
    .truncate {
        max-width: 300px;
    }
}

@media (max-width: 600px) {
    .truncate {
        max-width: 230px;
    }
}

/* ----- Ações ------ */
td button {
    background-color: transparent;
}

.modal-excluir {
    justify-content: center;

}

/* terminar de ajustar - Responsivo */


.btn-sim {
    background-color: #FF0000;

}

.btn-sim:hover {
    border-color: #FF0000;
    color: #FF0000;
}


.modal-header-excluir {
    border: none;
}

.modal-excluir p {
    padding: 0px 20px 0px 20px;
    /* margin: 0px 50px 0px 50px; */
}



.modal-footer-excluir {
    border: none;
}


@media (max-width: 768px) {
    #tabela-container {
        overflow-x: auto;
        /* ou "scroll" */
        white-space: nowrap;
        /* Impede que o conteúdo quebre em várias linhas */

    }
}